<div class="container p-5">
  <h2 class="mb-3"><%= @theme.name.capitalize %></h2>
  <h5>Description:</h5>
  <p><%= @theme.description %></p>
  <h5>Price: </h5><p><%= @theme.price_cent %></p>
  <h5>Contact: </h5>
  <p><%= @theme.user.email %></p>
  <p>to be added pundit condition for the following function</p>
  <%= link_to "Edit", edit_theme_path %>
  <%= link_to "Delete", theme_path(@theme), method: :delete, data: { confirm: "Are you sure?"} %>

  <h5>Booking:</h5>
  <ul>
    <% @theme.bookings.each do |booking| %>
      <li><p>From:</p><%= booking.starting_date %> - <p>To:</p><%= booking.ending_date %></li>
      <li><p>Address:</p><%= booking.address %></li>
      <%= link_to 'Edit', edit_booking_path %>
      <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </ul>
</div>


