<div class="container p-5">
  <div class="card-title">
    <h2 class="mb-3"><%= @theme.name.capitalize %></h2>
    <p>to be added pundit condition for the following function</p>
    <%= link_to "Edit", edit_theme_path %>
    <%= link_to "Delete", theme_path(@theme), method: :delete, data: { confirm: "Are you sure?"} %>
  </div>

  <div class="card">
    <div class="card-top">
      <% if @theme.photos.attached? %>
        <% @theme.photos.each do |photo| %>
          <%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill) %>
        <% end %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1464047736614-af63643285bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80" alt="pic">
      <% end %>
    </div>
    <div class="card-bottom">
      <h5>Description:</h5>
      <p><%= @theme.description %></p>
      <h5>Price: </h5><p><%= @theme.price_cent.to_f/100 %></p>
      <h5>Contact: </h5>
      <p><%= @theme.user.email %></p>
    </div>
  </div>

  <div class="card">
    <%= simple_form_for [@theme, @booking] do |f|%>
      <%= f.input :starting_date %>
      <%= f.input :ending_date %>
      <%= f.input :address %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card-list">
    <h5>Reviews</h5>
    <!-- new reviews to be added here-->
  </div>
</div>
